body{
    background-color: #e6e2d7;
}

.clear{
    clear:both;
}

#pagewrap{
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    z-index: 2;
}

#navHeaderWrap{
    background-color: #a09d92;
    max-width: 100%;
    text-align: center;

    height: 50px;/*Remove Me*/
}

#pageheader{
    position: relative;
    top: 0;
    width: 100%;
    max-width: 1087px;
    height: 150px;
    margin: 0 auto;
}

#logowrap{
    height: 125px;
    position: absolute;
    left: 10px;
    top: 25px;
}

#logowrap img{
    height: 100%;
}

#logo{

}

#content{
    background-color: #70814F;
    min-height: 400px;
    padding: 1%;
    width: 98%;
    /*background-color: #FFFFFF;*/
    border-radius: 0 0 20px 20px;
    display: table;
    position: relative;
    margin: 0 auto;
    max-width: 1087px;
}

#footerWrap{
    background-color: #413933;
    margin-top: 35px;
    overflow: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

#footerContent{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

.footerColumn{
    color: #a09d92;
    float: left;
    line-height: 20px;
    font-size: 12pt;
    padding: 30px 0;
}

#footerColumn1{
    width: 40%;
    min-width: 250px;
}

#footerColumn2{
    width: 40%;
    min-width: 250px;
}

#footerColumn3{
    width: 20%;
}

.jumbotron {
    background-color: #70814F;
    color: #211216;
    padding: 100px 25px;
}

.container-fluid {
    padding: 60px 50px;
}

.bg-fade {
    background-color: #C5D1AC;
}

.navbar {
    margin-bottom: 0;
    background-color: #70814F;
    z-index: 9999;
    border: 0;
    font-size: 12px;
    line-height: 1.42857143;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #70814F !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.whiteBorder {
    border: 10px solid white;
    border-radius: 10px;
    margin: 10px;
}

.cboxOverlay_black30 {
    background: #000000 !important;
    opacity: 0.30 !important;
}

/*Moves colorbox close button to top right*/
#colorbox #cboxClose{
    top: 0!important;
    right: 0!important;
}
#cboxClose{
    border:0;
    padding:0;
    margin:0;
    overflow:visible;
    width:auto!important;
    background:none!important;
    position:absolute;
    /*bottom:0;*/
    /*right:0;*/
    display:block;
    color:#444;
    text-indent: 0px!important;
}
#cboxLoadedContent{
    margin-top:28px;
    margin-bottom:0 !important;
}

.input_modern{
    background-color: #F7F7F5;
    width: 100%;
    height:30px;
    border:none;
    padding: 0px 15px;
    margin-bottom: 5px;
}

.button_modern{
    background-color: #703a46;
    border:1px solid;
    min-width: 100%;
    height: 45px;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0px 60px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-appearance: none;
    -webkit-border-radius:0px;
}

.button_modern:hover {
    background: #703a46cc;
}

/*THIS SECTION IS FOR MOBILE DEVICES*/
@media screen and (max-width: 599px) {
    .varPadding {
        width: 1px;
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        padding-bottom: 0px !important;
    }
    .padded{
        display: block !important;
    }
    .padded td{
        display: inline-block !important;
        min-width: 100% !important;
        padding-left: 0px !important;
    }
    .padded td .loginBtn{
        width: 100% !important;
        margin: 0.2em !important;
    }

    .rightAlign{
        text-align: left !important;
    }

    .addr_table{
        display: block !important;
    }

    .addr_table_td{
        display: inline-block !important;
        min-width: 100% !important;
    }
}

.padded{
    padding-top: 0px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 10px !important;
}

.addr_header_row{
    font-size: large;
}

.addr_header{
    padding-top: 12px;
    padding-bottom: 6px;
    font-weight: bold;
    color: #000000;
    width: 100%;
    white-space: nowrap;
}

.noTopPadding{
    padding-top: 0px!important;
}

.addr_label{
    padding-left: 12px;
    padding-right: 12px;
    /*width: 50%;*/
    white-space: nowrap;
    color: #000000;
}

.rightAlign{
    text-align: right;
}

.info_table{
    
	border: 1px solid black;
    
	padding: 15px;

}



h2 {
     
	color: #703A46;
     
	font-weight: bold;

}

.addr_table{
    background: #C5D1AC;
}

.addr_table_td{
    min-width: 350px;
    width: 33%;
}

.addr_table_inner{
    width:100%;
    border-collapse: collapse;
    border: 1px solid #404040;
}

.addr_header_row{
    font-size: large;
}

.addr_header{
    padding-top: 12px;
    padding-bottom: 6px;
    font-weight: bold;
    color: #000000;
    width: 100%;
    white-space: nowrap;
}

.noTopPadding{
    padding-top: 0px!important;
}

.addr_label{
    padding-left: 12px;
    padding-right: 12px;
    /*width: 50%;*/
    white-space: nowrap;
    color: #000000;
}

.addr_button_cell1{
    padding-top: 10px;
}
.addr_button_cell2{

}

.accountInfoCells{
    padding-left: 6px;
    padding-right: 6px;
    white-space: nowrap;
    color: #000000;
}

.noPadding{
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
}

.defaultbg{
    background:#e6e2d7;
}

.blackfont{
    color: black;
}

.fullwidth{
    width: 100%;
}