.jumbotron {
    background-color: #70814F;
    color: #211216;
    padding: 100px 25px;
}



.container-fluid {
    padding: 60px 50px;
}





.bg-fade {
    background-color: #C5D1AC;
}





.navbar {
    margin-bottom: 0;
    background-color: #70814F;
    z-index: 9999;
    border: 0;
    font-size: 12px;
    line-height: 1.42857143;
    letter-spacing: 4px;
    border-radius: 0;
}



.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}



.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #70814F !important;
    background-color: #fff !important;
}



.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

